.containerst {
    background-color: #222831;
    height: 889px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.text {
    color: white;
}

.name-all {
    color: white;
}

.menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% / 3 - 110px);
}

.menu-for-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-for-list {
    display: flex;
  flex-wrap: wrap;
  gap: 110px;
  align-items: center;
}
 .order {
    text-align: center;
    color: white;
    margin: 0;
}
.lefts {
    width: 50%;
}

.rights {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

/* .make-it-left {

} */
 .doit {
    width: 50px;
    height: 3px;
    background-color: yellow;

    
 }
 .order:hover {
    cursor: pointer;
}
.name-all, .text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.our-menu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}


